<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Automation Framework" data-provider-thread-count="4">
    <listeners>
        <listener class-name="com.san.listeners.ListenerClass" />
        <listener class-name="com.san.listeners.MethodInterceptor" />
    </listeners>

    <test thread-count="1" parallel="methods" name="Regression">
        <classes>
            <class name="com.san.tests.OrangeHRMTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->